{% extends 'base.html' %}
{% block content %}
<div class="container ">

    <div class="row justify-content-md-center">
        <div class="card">
            {% if request.user.is_authenticated %}
            <div class="card-header">
                <h5>Профиль пользователя</h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Пользователь</th>
                        <td>{{profile}}</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="col">Пользователь</th>
                        <td>{{profile.user.is_staff}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Пользователь</th>
                        <td>{{profile.user.phone}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Пользователь</th>
                        <td>{{profile.user.invite_code}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    {% else %}
    <div class="card-body">
        <p><b>Уже есть аккаунт? </b><a href="{% url 'login' %}">Войти</a>.</p>
    </div>
    {% endif %}
</div>
{% endblock %}